<% provide(:title, 'Help')%>
<h1>Help</h1>
<p>
	Get help in the Ruby on Rails Turtorial at the 
	<a href="http://railstutorial.org/help">Rails Tutorial Help Page</a>
	To get help on this sample app, see the
	<a href="http://railtutorial.org/book">RRails Tutorial Book</a>.
</p>